In [19]:
import pandas as pd

df = pd.read_csv('Data/Top Ranked Real Movies Dataset.csv')

In [20]:
df.head()

,Unnamed: 0,Movie Name,Year of Release,Watch Time,Movie Rating,Meatscore of movie,Votes,Gross,Description
0,0,Jai Bhim,-2021,164 min,9.4,NaN,"180,702",NaN,When a tribal man is arrested for a case of al...
1,1,Soorarai Pottru,-2020,153 min,9.3,NaN,"108,490",NaN,"Nedumaaran Rajangam ""Maara"" sets out to make t..."
2,2,The Shawshank Redemption,-1994,142 min,9.3,81.0,"2,559,534",$28.34M,Two imprisoned men bond over a number of years...
3,3,The Godfather,-1972,175 min,9.2,100.0,"1,761,949",$134.97M,The aging patriarch of an organized crime dyna...
4,4,The Dark Knight,-2008,152 min,9.1,84.0,"2,519,388",$534.86M,When the menace known as the Joker wreaks havo...

In [21]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [22]:
df['Watch Time'] = df['Watch Time'].astype(str).str.replace(' min', '').astype(int)

In [23]:
df['Votes'] = df['Votes'].astype(str).str.replace(',', '').astype(int)

In [24]:
import re

def extract_year(value):
    match = re.search(r'\d{4}', value)
    if match:
        return int(match.group(0))
    else:
        return None 
df['Year of Release'] = df['Year of Release'].apply(extract_year)

In [25]:
df['Gross'] = pd.to_numeric(df['Gross'].str.replace('[$,M]', '', regex=True), errors='coerce')
df = df.rename(columns={'Gross': 'Gross in Mil'})

In [26]:
df.head()

,Movie Name,Year of Release,Watch Time,Movie Rating,Meatscore of movie,Votes,Gross in Mil,Description
0,Jai Bhim,2021,164,9.4,NaN,180702,NaN,When a tribal man is arrested for a case of al...
1,Soorarai Pottru,2020,153,9.3,NaN,108490,NaN,"Nedumaaran Rajangam ""Maara"" sets out to make t..."
2,The Shawshank Redemption,1994,142,9.3,81.0,2559534,28.34,Two imprisoned men bond over a number of years...
3,The Godfather,1972,175,9.2,100.0,1761949,134.97,The aging patriarch of an organized crime dyna...
4,The Dark Knight,2008,152,9.1,84.0,2519388,534.86,When the menace known as the Joker wreaks havo...